# Predicing Year of Marriage

In [ ]:
import pandas as pd
data = pd.read_csv('/content/marriage.csv')
print(data.shape)
data.head()

(2567, 10)

   id  gender height  ...         location          country age_of_marriage
0   1  female   5'4"  ...           London   United Kingdom            21.0
1   2    male   5'7"  ...      Fairfax- VA              USA            32.0
2   3    male   5'7"  ...        Begusarai            India            32.0
3   4  female   5'0"  ...           Mumbai            India            30.0
4   5    male   5'5"  ...  Sulthan Bathery            India            30.0

[5 rows x 10 columns]

In [ ]:
data.isnull().sum()

id                   0
gender              29
height             118
religion           635
caste              142
mother_tongue      164
profession         330
location           155
country             16
age_of_marriage     19
dtype: int64

In [ ]:
(data.shape[0] - data.dropna().shape[0])/data.shape[0]

0.24737047136735488

In [ ]:
data.dropna(inplace=True)

In [ ]:
data.shape

(1932, 10)

In [ ]:
data.head(2)

   id gender height  ...     location country age_of_marriage
1   2   male   5'7"  ...  Fairfax- VA     USA            32.0
2   3   male   5'7"  ...    Begusarai   India            32.0

[2 rows x 10 columns]

In [ ]:
X = data.loc[:,['gender','height','religion','caste','mother_tongue','country']]
y = data.age_of_marriage

In [ ]:
X.head()

   gender height   religion        caste mother_tongue country
1    male   5'7"       Jain   Shwetamber      Gujarati     USA
2    male   5'7"      Hindu      Brahmin         Hindi   India
3  female   5'0"      Hindu       Thakur         Hindi   India
4    male   5'5"  Christian   Born Again     Malayalam   India
5    male   5'5"      Hindu      Valmiki         Hindi   India

In [ ]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
X.loc[:,['gender','religion','caste','mother_tongue','country']]= \
X.loc[:,['gender','religion','caste','mother_tongue','country']].apply(enc.fit_transform)

In [ ]:
X.head()

  gender height religion caste mother_tongue country
1      1   5'7"        2    34             6      19
2      1   5'7"        1    14             8       5
3      0   5'0"        1    36             8       5
4      1   5'5"        0    13            13       5
5      1   5'5"        1    38             8       5

In [ ]:
int(X.loc[1,'height'].split('\'')[0])*30.48

152.4

In [ ]:
int(X.loc[1,'height'].split('\'')[1].replace('"',''))*2.54

17.78

In [ ]:
def h_cms(h):
    return int(h.split('\'')[0])*30.48+\
    int(h.split('\'')[1].replace('"',''))*2.54

In [ ]:
X['height_cms'] = X.height.apply(h_cms)

In [ ]:
X.head()

  gender height religion caste mother_tongue country  height_cms
1      1   5'7"        2    34             6      19      170.18
2      1   5'7"        1    14             8       5      170.18
3      0   5'0"        1    36             8       5      152.40
4      1   5'5"        0    13            13       5      165.10
5      1   5'5"        1    38             8       5      165.10

In [ ]:
X.drop('height',inplace=True,axis=1)

In [ ]:
X.head()

  gender religion caste mother_tongue country  height_cms
1      1        2    34             6      19      170.18
2      1        1    14             8       5      170.18
3      0        1    36             8       5      152.40
4      1        0    13            13       5      165.10
5      1        1    38             8       5      165.10

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators=80,max_depth=11)
model.fit(X_train,y_train)
y_predict = model.predict(X_test)

# Evaluation

In [ ]:
from sklearn.metrics import mean_absolute_error, r2_score
print("MAE : ", mean_absolute_error(y_test,y_predict))
r2_score(y_test,y_predict)

MAE :  1.031625706345066

0.7002886041104888

# Export model

In [ ]:
import pickle
# Saving model
pickle.dump(model, open('model.pkl','wb'))
# model=pickle.load(open('model.pkl','rb'))
# print(y_predict)